# Database Configuration
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=school_management;Username=postgres;Password=00000

# JWT Configuration
Jwt__Key=super_secret_key_for_schoolhub_jwt_security_token_2026!
Jwt__Issuer=SchoolHubAPI
Jwt__Audience=SchoolHubClient

# App Settings
ASPNETCORE_ENVIRONMENT=Development